<div [formGroup]="lectureFormGroup">
  <input type="hidden" formControlName="id"/>

  <mat-card class="lecture-container mb-4">
    <mat-card-content class="mb-0">

      <div class="d-flex justify-content-between mb-2">
        <div class="d-flex align-items-center">
          <label class="mr-3">Type</label>
          <mat-radio-group formControlName="type" required aria-label="Lecture type">
            <mat-radio-button value="text">Text</mat-radio-button>
            <mat-radio-button value="quiz">Quiz</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- <div *ngIf="sectionFormGroup.get('lectures')['controls'].length > 1" class="drag-handle">
          <ng-content></ng-content>
        </div>-->
      </div>

      <div class="d-flex flex-row p-1">
        <div class="d-flex flex-column flex-grow-1">
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="Lecture title"
                formControlName="title"
                required
              >
              <mat-error *ngIf="lectureFormGroup.get('title').hasError('required')">
                Lecture title is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="app-floalaeditor-container" *ngIf="lecture.type === 'text' && lecture.title">
              <app-floalaeditor
              formControlName="text"
                placeholder="Lecture content"
                [required]
                [componentid]="'lecture' + lectureIndex + '-' + sectionIndex"
              >
              </app-floalaeditor>
              <mat-error *ngIf="lectureFormGroup.get('text').hasError('required')">
                Lecture content is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="quill-material-container" *ngIf="lecture.type === 'text' && lecture.title">
              <quill-material
                formControlName="text"
                placeholder="Lecture content"
                [required]
              ></quill-material>
              <mat-error *ngIf="lectureFormGroup.get('text').hasError('required')">
                Lecture content is <strong>required</strong>
              </mat-error>
            </mat-form-field> -->

          </div>
        </div>
          <!-- quiz start here -->
        <div class="d-flex flex-row p-1">
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <mat-form-field *ngIf="lecture.type === 'quiz' && lecture.title">
                <form [formGroup]="form" class="quiz">
                  <div class="input-field">
                      <input matInput type="text" name="question"
                         placeholder="Question" formControlName="question">
                  </div>
                  <div class="input-field">
                      <input matInput type="text"
                         placeholder="Correct Answer" formControlName="answer">
                  </div>
                  <div *ngFor="let control of  answerOptionsFieldAsFormArray.controls ;let i = index;" formArrayName='options' >
                      <div [formGroupName]="i" >
                          <div  class="input-field" >
                          <input matInput type="text"
                              placeholder="Answer" formControlName="answer" >
                          </div>
                          <button class="button" type="button" (click)="remove(i)" >Remove</button>
                      </div>
                  </div>
                  <button  class="button" (click)="addControl()" > Add New Answer</button>

              </form>

                  <!-- <div class="container mt-5">
                    <form #f="ngForm" (ngSubmit)="addQuestion(f)" align="center">




                      <div class="form-group">
                        <label for="questionText">Question Text</label>
                        <input type="text" name="questionText" class="form-control" autocomplete="off" id="questionText" ngModel required
                          #questionText="ngModel">
                      </div>



                      <div class="form-group">
                        <label for="optionA">Option1</label>
                        <input type="text" class="form-control" name="optionA" autocomplete="off" id="optionA" ngModel required #optionA="ngModel">
                      </div>

                      <div class="form-group">
                        <label for="optionB">Option2</label>
                        <input type="text" class="form-control" name="optionB"  autocomplete="off" id="optionB" ngModel required #optionB="ngModel">
                      </div>

                      <div class="form-group">
                        <label for="optionC">Option3</label>
                        <input type="text" class="form-control" name="optionC" autocomplete="off" id="optionC" ngModel required #optionC="ngModel">
                      </div>

                      <div class="form-group">
                        <label for="optionD">Option4</label>
                        <input type="text" class="form-control" name="optionD" autocomplete="off" id="optionD" ngModel required #optionD="ngModel">
                      </div>

                      <div class="form-group" style="margin-top: 10px;">
                        <label for="answer">Answer</label>
                        <input type="radio" value="1" name="answer" id="answer" ngModel required #answer="ngModel">1
                        <input type="radio" value="2" name="answer" id="answer" ngModel required #answer="ngModel">2
                        <input type="radio" value="3" name="answer" id="answer" ngModel required #answer="ngModel">3
                        <input type="radio" value="4" name="answer" id="answer" ngModel required #answer="ngModel">4
                      </div>


                      <!-- <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button> -->
                    <!--</form>
                    <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>
                  </div> -->
              </mat-form-field>

            </div>
          </div>

      </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <div class="text-right">
        <button
          *ngIf="sectionFormGroup.get('lectures')['controls'].length > 1"
          matTooltip="Remove lecture"
          mat-icon-button
          color="warn"
          type="button"
          (click)="onRemoveLecture(lectureIndex)"
        ><mat-icon>delete_outline</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
