<div style="padding-top:25px; padding-bottom:45px"  *ngIf='this._authService.isAdmin()' >
    <a [routerLink]="['create']" class="btn btn-outline-success" [ngClass]="{'pull-left': availableCourses?.length}">Create New Course</a>
</div>

<div *ngIf="!availableCourses?.length && this._authService.isAdmin()">
    <p>
        There are currently no courses offered at Inspirze.
        <br> Please feel free to create a new course by clicking the button above :) !
    </p>
</div>

<div  *ngIf='!this._authService.isAdmin()'>
    <h4>Currently Enrolled In:</h4>

    <p *ngIf='!enrolledCourses?.length'>
        You are currently enrolled in 0 classes.
        <br>Please feel free to enroll in some of the available courses below by
        <br>clicking the View Details button and then clicking Enroll In This Class on the next page :) !
    </p>

    <div style="margin-top:15px" *ngIf="enrolledCourses?.length">

      <div class="row">
        <div class="col-md-4" *ngFor="let data of enrolledCourses">
          <mat-card class="course-card">
            <a [routerLink]="['/courses/details', data.courseCode]">
              <img mat-card-image src="../../../assets/course.png" alt="{{ data.title }}">
            </a>
            <mat-card-content>
              <a [routerLink]="['/courses/details', data.courseCode]">
                <h2>{{ data.title }}</h2>
              </a>
              <p>{{ data.subtitle }}</p>
              <p> {{data.students.length}} </p>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between">
              <a [routerLink]="['pages']" [queryParams]="{id: data._id}" class="btn btn-outline-primary">View Details</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
    <!-- end div containing table courses the authenticated student is enrolled in -->
</div>

<div *ngIf="availableCourses?.length">
    <h4>Available Courses</h4>

    <!-- ONLY DISPLAY COURSES BELOW WHICH THE STUDENT IS NOT ALREADY ENROLLED IN! -->

    <div style=" margin-top:15px " *ngIf="availableCourses?.length ">

        <div class="row">
            <div class="col-md-4" *ngFor="let data of availableCourses | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <mat-card class="course-card">
                <a [routerLink]="['/courses/details', data.courseCode]">
                  <img mat-card-image src="../../../assets/course.png" alt="{{ data.title }}">
                </a>
                <mat-card-content>
                  <a [routerLink]="['/courses/details', data.courseCode]">
                    <h2>{{ data.title }}</h2>
                  </a>
                  <p>{{ data.subtitle }}</p>
                  <p>{{ data.students.length }}</p>
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-between">
                    <a [routerLink]="[ 'pages'] " [queryParams]="{id: data.id} " class="btn btn-outline-primary
                    " [ngClass]="{ 'pull-left':this._authService.isAdmin()} ">View Details</a>

                    <!--ADMIN ONLY BUTTON -->
                       <a (click)="deleteCourse(data.id, data.courseCode) " class="btn btn-outline-danger " *ngIf='isAdmin'>Delete Course</a>
                </mat-card-actions>
              </mat-card>
              <mat-divider></mat-divider>

            </div>
          </div>

          <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>

    </div>
    <!-- end div containing table of avail courses -->
</div>
<!-- end available courses div -->
