<div [formGroup]="questionFormGroup">
    <input type="hidden" formControlName="id"/>
  
  
    <mat-card class="question-container mb-4">
      <mat-card-content class="mb-0">
  
        <div class="d-flex justify-content-between mb-2">
          <div class="d-flex align-items-center">
            <label class="mr-3">Quiz Questions</label>
            <!-- <mat-radio-group formControlName="type" required aria-label="Lecture type">
              <mat-radio-button value="video">Video</mat-radio-button>
              <mat-radio-button value="text">Text</mat-radio-button>
            </mat-radio-group> -->
          </div>
  
          <div *ngIf="sectionFormGroup.get('questions')['controls'].length > 1" class="drag-handle">
            <ng-content></ng-content>
          </div>
        </div>
  
        <div class="d-flex flex-row p-1">
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <mat-form-field>
                <div class="container py-5">
                  <div class="col-md-12">
                    <form>
                      <div>
                        <div class="question">
                          <h2>{{ question.question }}</h2>
                        </div>
                        <mat-radio-group >
                          <ul>
                            <li>
                              <h4><mat-radio-button value="1">{{ question.option1 }}</mat-radio-button></h4>
                            </li>
                            <li>
                              <h4><mat-radio-button  value="2">{{ question.option2 }}</mat-radio-button></h4>
                            </li>
                            <li>
                              <h4><mat-radio-button value="3">{{ question.option3 }}</mat-radio-button></h4>
                            </li>
                            <li>
                              <h4><mat-radio-button  value="4">{{ question.option4 }}</mat-radio-button></h4>
                            </li>
                          </ul>
                        </mat-radio-group>
                      </div>
                      <!-- <button mat-stroked-button type="submit" (click)="onSubmit()" style="width: 100%; text-align: center; font-size: 30px;" color="accent">SUBMIT</button> -->
                    </form>
                  </div>
                </div>
              </mat-form-field>
  
            </div>
          </div>
  
        </div>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-end">
        <div class="text-right">
          <button
            *ngIf="sectionFormGroup.get('lectures')['controls'].length > 1"
            matTooltip="Remove lecture"
            mat-icon-button
            color="warn"
            type="button"
            (click)="onRemoveQuestion(questionIndex)"
          ><mat-icon>delete_outline</mat-icon></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>