.success-msg
  color: green
  font-size: 13px
  width: 150px
  text-align: center

.hidden
  display: none

.question-actions
  padding: 1rem
  background: #ececec

.drag-handle
  color: #ccc
  cursor: move
  width: 24px
  height: 24px

.mat-radio-button ~ .mat-radio-button
  margin-left: 16px